@import "layout/var";

.wrapper {
  width: 100%;
  max-width: 1286px;
  margin: 0 auto;

  @media (max-width: $md-big) {
    max-width: 1203px;
  }

  @media (max-width: $md) {
    max-width: 959px;
  }

  @media (max-width: $sm) {
    max-width: 721px;
  }

  @media (max-width: $xs) {
    padding: 0 15px;
  }
}