@import "fonts";

$roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$GoPro: 'GothamProBold', sans-serif;

$normal: 300;
$middle: 500;
$regular: 400;
$bold: 700;


$black: #1C1D20;
$grey-text: #747983;
$grey-bg-section: #F2F3F6;
$grey-bg: #F2F5F6;
$blue: #0083c9;
$green: #74C760;
$footer-menu: #42454D;

$md-big: 1365px;
$md: 1279px;
$sm: 1023px;
$xs: 767px;
$xs-min: 374px;