.title {
  font-family: $Montserrat;
  font-style: normal;
  font-weight: $bold;
  font-size: 30px;
  line-height: 114.84%;
  color: $black;

  @media (max-width: $md) {
    font-size: 26px;
  }

  a {
    color: $black;
  }

  &--center {
    text-align: center;
  }
}